body
{
    background-image: url("2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
}

.container
{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.367);
    width:30%;
    margin-top: 14% ;
    color:rgba(8, 78, 104, 0.761);
    font-family:sans-serif;
}
.content-section
{
    text-align: center;
    background-color:rgba(255, 255, 255, 0.341);
    margin-left: 35%;
    width:30%;
    height:5cm;
    margin-top: 0%;
    align-content: center;
    font-family:sans-serif;
}
.form-group
{
    height:30%;
}
.btn
{
    background-color: rgba(8, 78, 104, 0.66);
    color: azure;
    border-color: transparent;
}
.head
{
    font-size: 180%;
    height: 5%;
    padding-top:2%;
}